# Ignore Python compiled files
*.pyc
__pycache__/

# Ignore virtual environment in gaming folder
gaming/

# Ignore all HTML files in the root folder
/*.html

# Other common Python ignores
.env
*.env
.DS_Store
*.log
*.sqlite3
*.db
*.egg-info/
*.egg
*.pyo
*.swp
*.bak
*.tmp
coverage/
dist/
*.egg-info/
